<div class="">

  <div class="p-2 h-100">

    <div class="row mt-2">

      <div class="col-4">

        <img src="assets/icons/logo.svg" class="w-25 " />

      </div>

      <div class="col-2"></div>

      <div class="col-6 d-flex justify-content-end">

        <div class="float-right">

          <button type="button" class="btn">

            <img src="assets/icons/chromecast.svg" />

          </button>

          <button type="button" class="btn">

            <img src="assets/icons/search.svg" />

          </button>

          <button type="button" class="btn">

            <img src="assets/icons/person-fill.svg" />

          </button>

        </div>

      </div>

    </div>

    <div class="row mt-2 d-flex justify-content-evenly">

      <div class="col-4 d-flex justify-content-end">

        <a class="btn text-light ">Séries</a>

      </div>

      <div class="col-3 d-flex">

        <a class="btn text-light">Filmes</a>

      </div>

      <div class="col-5 d-flex">

        <form>

          <select class="form-control">

            <option selected>Categorias</option>

            <option>Ação</option>

            <option>Aventura</option>

            <option>Corrida</option>

          </select>

        </form>

      </div>

    </div>

    <div class="v-spacer"></div>

    <div class="row">

      <div class="col">

        <div class="d-flex justify-content-center top10fundo">

          <div class="top10 bg-netflix text-light"><span>TOP</span> 10</div>

          <h2 class="text-center text-light">Top 9 no Brasil hoje </h2>

        </div>

      </div>

    </div>

    <div class="row">

      <div class="col">

        <a href="#" class="btn text-light" role="button">

          <svg class="w-25" viewBox="0 0 24 24"><path d="M13 11h8v2h-8v8h-2v-8H3v-2h8V3h2v8z" fill="currentColor"></path></svg>

          <div>Minha lista</div>

        </a>

      </div>

      <div class="col">

        <a href="#" type="button" class="btn btn-light mt-3" role="button" routerLink="/detalhesfull/19">

          <svg class="w-25" viewBox="0 0 24 24"><path d="M6 4l15 8-15 8z" fill="currentColor"></path></svg>

          Assistir

        </a>

      </div>

      <div class="col ">

        <a href="#" class="btn text-light" role="button">

          <svg class="w-25" viewBox="0 0 24 24"><path d="M22 12c0 5.523-4.477 10-10 10S2 17.523 2 12 6.477 2 12 2s10 4.477 10 10zm-2 0a8 8 0 0 0-8-8 8 8 0 0 0-8 8 8 8 0 0 0 8 8 8 8 0 0 0 8-8zm-9 6v-7h2v7h-2zm1-8.75a1.21 1.21 0 0 1-.877-.364A1.188 1.188 0 0 1 10.75 8c0-.348.123-.644.372-.886.247-.242.54-.364.878-.364.337 0 .63.122.877.364.248.242.373.538.373.886s-.124.644-.373.886A1.21 1.21 0 0 1 12 9.25z" fill="currentColor"></path></svg>

          <div class="">Saiba Mais</div>

        </a>

      </div>

    </div>

  </div>

</div>
